body {
    background-color: grey;
    font-family: Ubuntu, sans-serif;
}

div#body {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 30px #555353;
    border-radius: 10px;
}

table.listing {
    width: 100%;
    text-align: left;
    height: 50px;
    border-collapse: collapse;
}

table.listing td {
    #border: 1px solid grey;
    padding: 10px;
}

table.listing tr:nth-child(even) {
    background-color: #dcdada;
}

table.listing td:nth-child(1) {
    width: 50px;
}

table.listing td:nth-child(3) {
    width: 90px;
}

img.mini{
    width: 60px;
}

table.details {
    width: 100%;
}

img.full {

}