body {
    background-color: #261C2C;
    font-family: Ubuntu, sans-serif;
    color: #6E85B2;
}
header{
    text-align: right;
    font-size: 15px;
}

input{
    background-color: #c0bdbd;
}

form#search{
    font-size: 15px;
    text-align: right;
}
div#body {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #3E2C41;
    box-shadow: 0 0 30px #5C527F;
    border-radius: 10px;
}

table.listing {
    width: 100%;
    text-align: left;
    height: 50px;
    border-collapse: collapse;
    border-radius: 10px;
}

table.listing td {
    #border: 1px solid #a19e9e;
    padding: 10px;
}

table.listing tr:nth-child(even) {
    background-color: #4b4369;
}

table.listing td:nth-child(1) {
    width: 50px;
}

table.listing td:nth-child(3) {
    width: 90px;
}

a:link, a:visited,  a:hover, a:active
{
    color: #bbeae3;
    text-decoration: dashed;
}


img.mini {
    width: 60px;
}

table.details {
    width: 100%;
}

table.details td {
    padding: 10px;
    vertical-align: top;
}

img.full {
    height: 400px;
}

footer {
    text-align: center;
    font-family: "JetBrains Mono Medium", sans-serif;
    font-size: 16px;
}